extends layout

block content
  h1 Stephen's RESTful API
  h2 Time Microservice
  p.red  Example Usage
  code localhost:3000/November 2, 2017
  br
  code local:3000/81111111
  p.red Expected Output is JSON
  code { "unix":81111111, "natural": November 2, 2017 }
